{% extends "header.html" %}

{% block content %}

<style>
    .divL {
      float: left;
      box-sizing: border-box;
      width: 50%;
      padding: 10px;
    }

    .divR {
      float: right;
      box-sizing: border-box;
      width: 50%;
      padding: 60px;

    }

    .button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #454f66;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #434757}

.button:active {
  background-color: #434757;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

    </style>

<br>
<section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
    <div class="container" style="background-color:#828fc4; border-radius:60px">
        <div class="row">



        <br></br>


        <div class="container" style="background-color: #1d2433; border-radius: 12px">
            <center><h3 style="color:#e1e3e8"><span>Edit Your Profile</span></h3></center>
            <br></br>

            {% for p in profile %}

            <center><img src="/media/{{p.image}}" alt="Avatar" style="border-radius: 50%; width:200px; height:200px">

            <br></br>
            </center>

<br>
<br>

        <div class="container">
            <center>
            <div class="container">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{form.as_p}}
                {{ form.non_field_errors }}
                 {{ form.image.errors }}

                <center><input class="button" type="submit">Submit</input></center>

            </form>
    {% endfor %}
        </div>
        </center>
        </div>
        </div>
        </div>
    </div>
</div>
</section>

{% endblock %}