<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body style="background-color:#b2b7c2">

    <div class="main" style="background-color:#b2b7c2">

        <a href="/" class="signup-image-link"><center><h1><font face = "Bedrock" size = "15">Memento</font></h1></center></a>

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">

                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form">
                            {% csrf_token %}
                            <div class="form-group">
                                <label><i class="zmdi zmdi-d"></i></label>
                                <input type="text" name="first_name" id="id_first_name" placeholder="Your First Name"/>
                            </div>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-date"></i></label>
                                <input type="text" name="last_name" id="id_last_name" placeholder="Your Last Name"/>
                            </div>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-date"></i></label>
                                <input type="text" name="birthdate" id="id_birthdate" placeholder="Your Birth Date"/>
                            </div>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="Email" id="id_Email" placeholder="Your Email"/>
                            </div>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="username" id="id_username" placeholder="Your Username"/>
                            </div>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="password1" id="id_password1" placeholder="Password"/>
                            </div>
                            <div class="form-group">
                                <label><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="password" name="password2" id="id_password2" placeholder="Repeat your password"/>
                            </div>

                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/static/images/signup-image.jpg" alt="sing up image"></figure>
                        <a href="/accounts/login/" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- JS -->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>