{% extends 'header.html' %}

{% block content %}

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
</style>
<br>
<br>
<br>
<br>
<br>
 <div class="container">

     <center><form method="post">
         {% csrf_token %}
         <p>{{ form.as_p }} <button type="submit" style="background-color: #322a5e;border:2px solid #899396;color: white;padding: 5px 10px;text-align: center;text-decoration: none;border-radius:10px">search</button> </p>

     </form></center>
        <br>
        <br>
        <br>
        <table>
           <tr>
               <th> </th>
               <th>
                   <p>Title</p>
               </th>
               <th><p>Date and Time</p></th>
               <th><p>Category</p></th>
               <th><p>Link</p></th>
           </tr>
           <br>
            {% for mem in memento %}
          <tr>
            <td><img src="/media/{{mem.image}}" style="width:70px;height: 70px; border-radius:50%"> </td>
            <td><h5>{{mem.title}}</h5></td>
              <td>
                  <p>{{mem.date}}</p>
                  <p>{{mem.time}}</p>
              </td>

              <td><h5>{{mem.category.category}}</h5></td>

            <td><a href="/memento-category/memento/{{mem.id}}/" style="background-color: #322a5e;border:2px solid #899396;color: white;padding: 8px 15px;text-align: center;text-decoration: none;border-radius:10px">read</a> </td>
          </tr>
        {% endfor %}
        </table>

 </div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}