<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="write down your everyday life and share your experience">
      <meta name="title" content="Memento - Call of your heart">
    <meta name="author" content="Memento">

    <title>Memento</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/unicons.css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">

    <!-- MAIN STYLE -->
    <link rel="stylesheet" href="/static/css/tooplate-style.css">


      <style>

        .sidebar {
          height: 100%;
          width: 0;
          position: fixed;
          z-index: 1;
          top: 0;
          left: 0;
          background-color: #111;
          overflow-x: hidden;
          transition: 0.5s;
          padding-top: 60px;
        }

        .sidebar a {
          padding: 8px 8px 8px 32px;
          text-decoration: none;
          font-size: 25px;
          color: #818181;
          display: block;
          transition: 0.3s;
        }

        .sidebar a:hover {
          color: #f1f1f1;
        }

        .sidebar .closebtn {
          position: absolute;
          top: 0;
          right: 25px;
          font-size: 36px;
          margin-left: 50px;
        }

        .openbtn {
          font-size: 20px;
          cursor: pointer;
          background-color: #111;
          color: white;
          padding: 10px 15px;
          border: none;
        }

        .openbtn:hover {
          background-color: #444;
        }

        #main {
          transition: margin-left .5s;
          padding: 16px;
        }

        /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
        @media screen and (max-height: 450px) {
          .sidebar {padding-top: 15px;}
          .sidebar a {font-size: 18px;}
        }

        .* {
 box-sizing: border-box;
}*:before,
*:after {
 box-sizing: border-box;
}html,
body {
 height: 100%;
 position: relative;
}.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
 padding-bottom: 100px; /* height of your footer */
}
footer {
 position: absolute;
 bottom: 0;
 width: 100%;

}
</style>
<!--

Tooplate 2115 Marvel

https://www.tooplate.com/view/2115-marvel

-->
  </head>
  <body>

    <div id="mySidebar" class="sidebar">

      {% for p in profile %}
      <center><div class="imgs"><img src="/media/{{p.image}}" alt="Avatar" style="border-radius: 50%; width:120px;height:120px"></div></center>
      {% endfor %}
        <p></p>
        <a>Hi {{user}} :)</a>
        <p></p>
        <p></p>
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <a href="/profile/{{user}}">Profile</a>
      <a href="/memento-category/">My Category</a>
      <a href="/memento-all/">All Mementoes</a>
      <a href="/accounts/edit/{{user.id}}/">Edit Profile</a>
      <a href="/accounts/password-reset/">Reset Password</a>
      <a href="/#contact">Contact</a>
      <a href="/accounts/logout/">Log Out</a>


    </div>




    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light">
     {% if user.is_authenticated %}
      <div id="main"><button class="openbtn" onclick="openNav()">☰ Open Sidebar</button></div>
     {% endif %}
        <div class="container">

            <a class="navbar-brand" href="/"><i class='uil uil-user'></i> Memento</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mx-auto">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a href="/profile/{{user}}/" class="nav-link"><span data-hover="Profile">Profile</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>

                    <li class="nav-item">
                        <a href="/#project" class="nav-link"><span data-hover="Public">Public</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/#resume" class="nav-link"><span data-hover="Features">Features</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                     <li class="nav-item">
                        <a href="/accounts/logout/" class="nav-link"><span data-hover="Log Out">Log Out</span></a>
                    </li>


                    {% else %}
                    <li class="nav-item">
                        <a href="/#about" class="nav-link"><span data-hover="About">About</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/#project" class="nav-link"><span data-hover="Public">Public</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/#resume" class="nav-link"><span data-hover="Features">Features</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/#contact" class="nav-link"><span data-hover="Contact">Contact</span></a>
                    </li>
                    <li class="nav-item">
                        <a href="/accounts/login/" class="nav-link"><span data-hover="Login">Login</span></a>
                    </li>
                    {% endif %}
                </ul>

                <ul class="navbar-nav ml-lg-auto">
                    <div class="ml-lg-4">
                      <div class="color-mode d-lg-flex justify-content-center align-items-center">
                        <i class="color-mode-icon"></i>
                        Color mode
                      </div>
                    </div>
                </ul>
            </div>
        </div>
    </nav>



  {% block content %}
  {% endblock %}
    <div class="footer" style="background-color: #1d2433; height:300px">
        <p>Footer</p>
    </div>
  </body>


    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/Headroom.js"></script>
    <script src="/static/js/jQuery.headroom.js"></script>
    <script src="/static/js/owl.carousel.min.js"></script>
    <script src="/static/js/smoothscroll.js"></script>
    <script src="/static/js/custom.js"></script>

<script>
function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>

</html>
