    {% extends "header.html" %}
    {% block content %}
    <section class="about full-screen d-lg-flex justify-content-center align-items-center" id="about">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                    <div class="about-text">
                        <small class="small-text">Welcome to <span class="mobile-block">Memento!</span></small>
                        <h2 class="animated animated-text">
                            <span class="mr-2">In Memento, We</span>
                                <div class="animated-info">
                                    <span class="animated-item">Record Our Memories</span>
                                    <span class="animated-item">Share With Others</span>
                                    <span class="animated-item">Hear From Others</span>

                                </div>
                        </h2>

                        <br></br>
                        <br></br>
                        <p></p>
                        <p></p>

                        <p>Here we share our experiences during our sweet and bitter moments of our lives! you can write in public or private and attach your files.</p>
                        
                        <div class="custom-btn-group mt-4">

                          <a href="/accounts/signup/" class="btn custom-btn custom-btn-bg custom-btn-link">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-12 col-12">
                    <div class="about-image svg">
                        <img src="/static/images/undraw/undraw_software_engineer_lvl5.svg" class="img-fluid" alt="svg image">
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- PROJECTS -->
    <section class="project py-5" id="project">
        <div class="container">
                
                <div class="row">
                  <div class="col-lg-11 text-center mx-auto col-12">

                      <div class="col-lg-8 mx-auto">
                        <h2>What do we do in Memento?</h2>
                      </div>

                      <div class="owl-carousel owl-theme">
                        <div class="item">
                          <div class="project-info">
                            <center><img src="/static/images/project/share.jpg" class="img-fluid" alt="project image" style="border-radius: 50%; width:750px;height:550px;"></center>
                              <p></p>
                              <p></p>
                              <h4>Interact with others</h4>
                              <br></br>
                              <p></p>
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <center><img src="/static/images/project/bench.jpg" class="img-fluid" alt="project image" style="border-radius: 50%; width:750px;height:550px;"></center>
                              <p></p>
                              <p></p>
                              <h4>Write down your Memento at any time</h4>
                              <br></br>
                              <p></p>
                          </div>
                        </div>

                        <div class="item">
                          <div class="project-info">
                            <center><img src="/static/images/project/girl.jpg" class="img-fluid" alt="project image" style="border-radius: 50%; width:750px;height:550px;"></center>
                              <p></p>
                              <p></p>
                              <h4>share your experiences with others</h4>
                              <br></br>
                              <p></p>
                          </div>
                        </div>



                        <div class="item">
                          <div class="project-info">
                            <center><img src="/static/images/project/dog.png" class="img-fluid" alt="project image" style="border-radius: 50%; width:750px;height:550px;"></center>
                              <p></p>
                              <p></p>
                              <h4>And It's Time To Sleep :p</h4>
                              <br></br>
                              <p></p>
                          </div>
                        </div>
                            <div class="item">
                          <div class="project-info">
                            <center><img src="/static/images/project/heart.jpg" class="img-fluid" alt="project image" style="border-radius: 50%; width:750px;height:550px;"></center>
                              <p></p>
                              <p></p>
                              <h4>And of course, 4 letters motivated me to breed Memento ...</h4>
                              <h5>L , O , V , E</h5>
                              <br></br>
                              <p></p>
                          </div>
                            </div>
                        </div>
                      </div>

                  </div>
                </div>
        </div>
    </section>

    <!-- FEATURES -->
    <section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4">Experiences</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2019</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Project Manager</span><small>Best Studio</small></h3>
                                  <p>Proin ornare non purus ut rutrum. Nulla facilisi. Aliquam laoreet libero ac pharetra feugiat. Cras ac fermentum nunc, a faucibus nunc.</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2018</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>UX Designer</span><small>Digital Ace</small></h3>
                                <p>Fusce rutrum augue id orci rhoncus molestie. Nunc auctor dignissim lacus vel iaculis.</p>
                            </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2016</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>UI Freelancer</h3>
                                <p>Sed fringilla vitae enim sit amet cursus. Sed cursus dictum tortor quis pharetra. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2014</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Junior Designer<small>Crafted Co.</small></h3>
                                <p>Cras scelerisque scelerisque condimentum. Nullam at volutpat mi. Nunc auctor ipsum eget magna consequat viverra.</p>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-lg-6 col-12">
                  <h2 class="mb-4 mobile-mt-2">Educations</h2>

                    <div class="timeline">
                        <div class="timeline-wrapper">
                             <div class="timeline-yr">
                                  <span>2017</span>
                             </div>
                             <div class="timeline-info">
                                  <h3><span>Mobile Web</span><small>Master Design</small></h3>
                                  <p>Please tell your friends about Tooplate website. That would be very helpful. We need your support.</p>
                             </div>
                        </div>

                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2015</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>User Interfaces</span><small>Creative Agency</small></h3>
                                <p><a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a> is a great website to download HTML templates without any login or email.</p>
                            </div>
                        </div>
                        
                        <div class="timeline-wrapper">
                            <div class="timeline-yr">
                                <span>2013</span>
                            </div>
                            <div class="timeline-info">
                                <h3><span>Artwork Design</span><small>New Art School</small></h3>
                                <p>You can freely use Tooplate's templates for your business or personal sites. You cannot redistribute this template without a permission.</p>
                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </section>

    <!-- CONTACT -->
    <section class="contact py-5" id="contact">
      <div class="container">
        <div class="row">
          
          <div class="col-lg-5 mr-lg-5 col-12">


            <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                <div class="contact-info-item">
                  <h3 class="mb-3 text-white">Tell us anything you want :)</h3>

                  <p><a href="mailto:memento@gmail.com">memento@gmail.com</a></p>
                </div>


            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="contact-form">
              <h2 class="mb-4">Have words with me?</h2>

              <form action="" method="get">
                <div class="row">
                  <div class="col-lg-6 col-12">
                    <input type="text" class="form-control" name="name" placeholder="Your Name" id="name">
                  </div>

                  <div class="col-lg-6 col-12">
                    <input type="email" class="form-control" name="email" placeholder="Email" id="email">
                  </div>

                  <div class="col-12">
                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Message"></textarea>
                  </div>

                  <div class="ml-lg-auto col-lg-5 col-12">
                    <input type="submit" class="form-control submit-btn" value="Send Button">
                  </div>
                </div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section>

    <!-- FOOTER -->
     <footer class="footer py-5">
          <div class="container">
               <div class="row">

                    <div class="col-lg-12 col-12">                                
                        <p class="copyright-text text-center">Copyright &copy; 2019 Company Name . All rights reserved</p>
                        <p class="copyright-text text-center">Designed by <a rel="nofollow" href="https://www.facebook.com/tooplate">Tooplate</a></p>
                    </div>
                    
               </div>
          </div>
     </footer>



  {% endblock %}