{% extends 'header.html' %}


{% block content %}

<style>
.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #454f66;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #434757}

.button:active {
  background-color: #434757;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

    </style>

<br>
<br>
<br>
<br>
<br>


<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    {{ form.non_field_errors }}
    {{ form.image.errors }}

    <center><button class="button" type="submit">Submit</button></center>

            </form>
    </div>
{% endblock %}