{% extends 'header.html' %}


{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .cards {

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    grid-auto-rows: auto;

    grid-gap: 2rem;

    }

    &amp;amp;nbsp;

    .card {

    border: 5px solid #e7e7e7;

    border-radius: 20px;

    padding: .5rem;

    }

    }
    .imgBox
    {
      width: 441px;
      height: 248px;
      background: url(http://www.corelangs.com/css/box/img/water.jpg) no-repeat;
    }
    .imgBox:hover
    {
      -moz-box-shadow: 0 0 100px #ccc;
      -webkit-box-shadow: 0 0 100px #ccc;
      box-shadow: 0 0 30px #ccc;
    }


</style>

<br>
<br>
<br>


<div class="container">
 <div class="cards">
     {% for cat in category %}

     <div class="imgBox">
     <div class="card" style="border-radius:20px; background-color:#ad938c; border: 3px solid #6b4141">
         <p></p>
         <center><img src="/media/{{cat.image}}" alt="No Image" style="border-radius:20px; width:100px;height:100px;"></center>

         <center><h3 style="margin:10px">{{cat.category}}</h3>
         <h5 style="width=50px">{{cat.summary}}</h5>
             <p></p>
             <a href="/memento-category/{{cat.id}}/" style="background-color: #5e3737;color: white;padding: 10px 20px;text-align: center;text-decoration: none;border-radius:20px">more</a>

         </center>
         </center>
        </div>
     </div>

     {% endfor %}
 </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<center>
<a href="/add-category/" style="background-color: #41606b;border:2px solid #899396;color: white;padding: 15px 20px;text-align: center;text-decoration: none;border-radius:20px">Add Category</a>
</center>
<br>
<br>
<br>
<br>
<br>

{% endblock %}

