{% extends 'header.html' %}




{% block content %}

<br>
<br>
<br>
<br>
<br>


<div class="container" style="background-color:#1c232e;border-radius:5px">

{% for mem in memento %}
    <br>
    <br>
    <center><h2 style="color: white">{{mem.title}}</h2>
        <h5 style="color: #7a7c80">{{mem.date}}</h5></center>
    <br>
    <br>
    <center><img src="/media/{{mem.image}}" alt="No Image" style="border-radius:25px; width:160px;height:160px;"></center>
    <br>
    <br>

    <div class="container" style="background-color:#d3d3de; border-radius:12px; width:90%">
        <br>
        <h4 style="color: #2a2a38">{{mem.title}} :</h4>
        <br>


        <h5 style="color: #2a2a38;text-align:justify; width:100%; font-size:110%">
            {{mem.text|safe}}

        </h5>
        <br>
        <br>
        <br>
        <center><h5 style="color: #2a2a38;font-size: 90%">on {{mem.date}}</h5>
        <p></p>
        <h5 style="color: #2a2a38;font-size: 90%">at {{mem.time}}</h5></center>
        <br>
    </div>
    <br>
    <br>

{% endfor %}
</div>

<br>
<br>
<center>
<a href="/edit-memento/{{meme.id}}/" style="background-color: #167370;color: white;padding: 14px 20px;text-align: center;text-decoration: none;border-radius:20px;border:2px solid #ccc">Edit</a>

<button onclick="confirmation()" style="background-color: #a32929;color: white;padding: 10px 20px;text-align: center;text-decoration: none;border-radius:20px">Delete</button>
</center>
<br>

<script>
function confirmation(){
    var result = confirm("Are you sure to delete?");
    if(result){

        window.location.replace("/memento-delete/{{meme.id}}")

    }
}
</script>
{% endblock %}