{% extends 'header.html' %}


{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    .cards {

    display: grid;

    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    grid-auto-rows: auto;

    grid-gap: 2rem;

    }

    &amp;amp;nbsp;

    .card {

    border: 5px solid #e7e7e7;

    border-radius: 20px;

    padding: .5rem;

    }

    }
    .imgBox
    {
      width: 441px;
      height: 248px;
      background: url(http://www.corelangs.com/css/box/img/water.jpg) no-repeat;
    }
    .imgBox:hover
    {
      -moz-box-shadow: 0 0 100px #ccc;
      -webkit-box-shadow: 0 0 100px #ccc;
      box-shadow: 0 0 30px #ccc;
    }


</style>

<br>
<br>
<br>


<div class="container">
    <center><h2>{{category.category}}</h2></center>
    <br>
    <br>
 <div class="cards">
     {% for mem in memento %}
     <div class="imgBox">
     <div class="card" style="border-radius:20px; background-color:#9693ab; border: 3px solid #3d3a61">
         <p></p>
         <center><img src="/media/{{mem.image}}" alt="No Image" style="border-radius:20px; width:100px;height:100px;"></center>

         <center><h3 style="margin:10px">{{mem.title}}</h3>
         <h5>{{mem.date}}</h5></center>
         <p></p>
         <center><a href="/memento-category/memento/{{mem.id}}/" style="background-color: #413f52;color: white;padding: 10px 20px;text-align: center;text-decoration: none;border-radius:20px">read</a></center>
        </div>
     </div>
     {% endfor %}

 </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>
<center>
    <a href="/edit-category/{{category.id}}/" style="background-color: #167370;border:2px solid #899396;color: white;padding: 15px 20px;text-align: center;text-decoration: none;border-radius:20px">
        Edit This Category
    </a>


    <a href="/add-memento/{{category.id}}/" style="background-color: #41606b;border:2px solid #899396;color: white;padding: 15px 20px;text-align: center;text-decoration: none;border-radius:20px">
        Add Memento
        To This Category
    </a>

<button onclick="confirmation()" style="background-color: #a32929;color: white;padding: 15px 20px;text-align: center;text-decoration: none;border-radius:20px">Delete This Category</button>
</center>
<br>
<br>
<br>
<br>
<br>
<br>

<script>
function confirmation(){
    var result = confirm(" Are you sure to delete?\n The whole Mementoes Of This Category\n Will Be Deleted");
    if(result){

        window.location.replace("/category-delete/{{category.id}}")

    }
}
</script>

{% endblock %}