{% extends "header.html" %}

{% block content %}

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    .divL {
      float: left;
      box-sizing: border-box;
      width: 50%;
      padding: 10px;
    }

    .divR {
      float: left;
      box-sizing: border-box;
      width: 50%;
      padding: 60px;
    }

    </style>

    <div class="w3-sidebar w3-bar-block w3-card" style="width:10%;right:0; margin-top:75px; height:50%;border-radius:8px; background-color:#818899">

  <h3 class="w3-bar-item">Menu</h3>
  <a href="/memento-category/" class="w3-bar-item w3-button">Memento Category</a>
  <a href="/memento-all/" class="w3-bar-item w3-button">All My Mementoes</a>
  <a href="/accounts/password-reset/" class="w3-bar-item w3-button">Reset Password</a>
  <a href="/accounts/edit/{{user.id}}/" class="w3-bar-item w3-button">Edit Profile</a>
</div>
    <br></br><br></br>
    <div class="container">
         <center><h3><span>My Profile</span></h3></center>
        <br>
        <div class="row">



        <br></br>




        <div class="container" style="background-color: #1d2433; height:100%; border-radius:12px">


            <br></br>

            {% for p in profile %}

            <center><img src="/media/{{p.image}}" alt="Avatar" style="border-radius: 50%; width:200px; height:200px"></center>
            <br></br>
            <div class="divL">

                <h3 style="color:#727478">username :     <h3 style="color:white">{{user}}</h3></h3>
                <br></br>
                <h3 style="color:#727478">first name :      <h3 style="color:white">{{p.first_name}}</h3></h3>
                <br></br>
                <h3 style="color:#727478">last name :    <h3 style="color:white"> {{p.last_name}}</h3></h3>
                <br></br>
                <h3 style="color:#727478">email :     <h3 style="color:white">{{p.email}}</h3></h3>
                <br></br>
                <h3 style="color:#727478">birth date :     <h3 style="color:white">{{p.birthdate}}</h3></h3>
                <br>



        </div>
            <div class="divR">
                 <h3 style="color:#727478">gender :     <h3 style="color:white">{{p.gender}}</h3></h3>
                 <br></br>
                 <h3 style="color:#727478">bio :     <h3 style="color:white; margin-left:2em; width:100%">
                     {{p.bio}}
                 </h3>
                 </h3>
                 <br></br>

            {% endfor %}
                </div>

        <!--    <div class="divR"></div>    -->



        </div>

        </div>


    </div>




{% endblock %}